body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: #bdc3c7;  
  background: -webkit-linear-gradient(to right, #e3e8ed, #bdc3c7);  
  background: linear-gradient(to right, #eaedef, #bdc3c7); 
}

.form{
  background-color: #f2f2f2; /* Set the background color */
  background-image: url('https://img.freepik.com/premium-photo/3d-rendered-pastel-purple-gradient-color-clouds-with-yellow-stars-sky_490107-387.jpg?w=360'); /* Set the background image */
  background-size: cover; /* Adjust the image size to cover the entire element */
  background-position: center; /* Center the image within the element */
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  
}

.form-body{
  text-align: left;
  padding: 20px 10px;
}

.form-body > *{
  padding: 5px;
}

.form__label{
  width: 40%;
}

.mb-3{
border-radius: 4px;
background-color:#dee1e3 ;
  }
  .mb-3:hover{
    border-color: white;
  }

.footer{
  text-align: center;
}
.card-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: transform 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-img-top {
  transition: transform 0.2s ease-in-out;
}

.card-container:hover .card-img-top {
  transform: scale(1.1);
}

.card-body {
  padding: 1rem;
}


@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}


.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }


  .gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }
    
    .card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa ;
    }
    
    
    .input-custom {
    background-color: white ;
    }
    
    .white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 100 ;
    font-size: 14px;
    }
    
    .back-button {
    background-color: hsl(52, 0%, 98%);
    font-weight: 700;
    color: black ;
    margin-top: 50px ;
    }
    /* Add this CSS to your global stylesheet or App.css */

/* Change background color */
.bg-dark {
  background-color: #333;
}

/* Change button color */
.btn-link {
  color: #fff;
}

/* Style menu items on hover */
.nav-pills .nav-link:hover,
.nav-link.show {
  background-color: #555;
}

/* Style dropdown menu items on hover */
.dropdown-item:hover {
  background-color: #555;
  color: #fff;
}

/* Style active dropdown menu item */
.dropdown-item.active {
  background-color: #555;
  color: #fff;
}



@keyframes multicolor-bg {
  0% { background-color: #ff0000; }    /* Red */
  25% { background-color: #ff0000; }   /* Green */
  50% { background-color: #0000FF; }   /* Blue */
  75% { background-color: #002aff; }   /* Orange */
  100% { background-color: #FF0000; }  /* Red */
}

#animated-div {
  animation: multicolor-bg 1.5s infinite;
}
